# flyctl launch added from amoblando\.gitignore


# flyctl launch added from sicloud\libs\mpdf\vendor\mpdf\mpdf\.gitignore
sicloud\libs\mpdf\vendor\mpdf\mpdf\**\vendor\*
sicloud\libs\mpdf\vendor\mpdf\mpdf\**\composer.lock

# flyctl launch added from sicloud\libs\mpdf\vendor\mpdf\mpdf\tmp\.gitignore
sicloud\libs\mpdf\vendor\mpdf\mpdf\tmp\**\*
!sicloud\libs\mpdf\vendor\mpdf\mpdf\tmp\**\.gitignore
!sicloud\libs\mpdf\vendor\mpdf\mpdf\tmp\**\ttfontdata
!sicloud\libs\mpdf\vendor\mpdf\mpdf\tmp\**\ttfontdata\.gitkeep

# flyctl launch added from sporthealth\.gitignore

fly.toml
