*{box-sizing: border-box;}
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url("/fonts/Roboto-Regular-webfont.woff");}
@font-face { font-family: 'Roboto Condensed'; font-style: normal; font-weight: 700; src: url("/fonts/RobotoCondensed-Regular-webfont.woff");}
h1, h2, h3{margin: 0;padding: 0;font-family: 'Roboto Condensed';}

textarea{
    padding: .08rem 0 .08rem 1.2rem;
    width: 100%;
    height: auto;
    color: #4a5158;
    background-color: #E8F2FF;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #495057;
    border-radius: 4px;
    outline: none;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea:focus{
    background-color: #C8FEFF;
    border-bottom: 1px solid #1a85f0;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s ,background ease-in-out .15s;
}

.box-body-cert{background-color: white; border-radius: 12px; margin: .75em 0;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
                 -20px -20px 60px #ffffff; }
.box-body-header{background-color: white; border-radius: 12px; margin: .75em 0;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
                 -10px -10px 30px #ffffff; }
.box-body-header .header-box{border-top-left-radius: 12px; border-top-right-radius: 12px; padding: 1em; background-color: #099268; text-align: center; color: white;}


.d-flex-itt{display: flex; justify-content: space-between}
.d-flex-itt>div{width: 30%}
.dat{color:#004592; margin-bottom: 2.5rem;}
.dat span{color:#000;}
.form-group input {
    width: 100%;
    margin-bottom: 1.5rem;
}
.inputSMB { margin-bottom: 0 !important}
label{font-size: 1.2em;}
form{padding: 20px 40px}

.form-group input[type="text"],
.form-group input[type="number"]
{
    padding: .2rem 0 .2rem 1.4rem;
    height: auto;
    color: #4a5158;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #495057;
    font-size: 1em;
    outline: none;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s;
}
label input[type="text"]
{
    padding: .2rem 0 .2rem .4rem;
    width: 200px;
    height: auto;
    color: #4a5158;
    background-color: transparent;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #495057;
    font-size: .80em;
    outline: none;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s;
}
label input[type="text"]:focus
{    border-bottom: 1px solid #1a85f0;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s;
}

.badge-certificate{
    background-color: #007bff;
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    vertical-align: baseline;
    white-space: nowrap;
}

.badge-certificate:hover{
    background-color: #0062cc;
    color: #fff;
    text-decoration: none;
}
.badge-certificate::after{
    content: "\f303";
    color: #fff;
    border-left: 1px solid #ffffff;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    padding-left: 3px;
    margin-left: 4px;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus
{    border-bottom: 1px solid #1a85f0;
    transition: border-bottom ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group input[type="submit"]
{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    user-select: none;
    background-color: transparent;
}
.form-group{position: relative;}
.form-group label{color:#004592;}
.form-group span{position: absolute; left: 4px; color: #035cbb;}
.text-center{text-align: center;}

.noOP{
    background-color: #BC0202;
    color: #fff;
    border-radius: 6px;
    padding: .35rem .85rem;
    max-width: 200px;
    margin-top: 20px;
}
.header-box{border-top-left-radius: 12px; border-top-right-radius: 12px; padding: 1em; background-color: #0264ce; text-align: center; color: white;}
.link-op{
    background-color: #02458d46;
    color: #fff;
    display: inline-block;
    border-radius: .25rem;
    border: 2px solid #fff;
    cursor: pointer;
    padding: .25rem .35rem;
    margin-left: .32rem;
    transition: ease-in-out, background-color .50s
}
.link-op:hover{text-decoration: none; background-color: #02458d;}