::selection {
   color: white;
   background: var(--verde-Rh2);
 }
#style-selector { 
   font-family: 'Roboto Condensed',Helvetica,Arial,sans-serif;
   background-image: linear-gradient( 135deg,  #006064 10%, #00fcbd 100%);
   box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14); 
   height: 100%; 
   position: fixed;
   top: 0;
   width: 300px;
   float: right;   
   z-index:100000;
}
#style-selector-container{
   overflow-x:hidden; 
   overflow-y: auto; 
   height:100%; 
}
.style-toggle {
   align-items: center; 
   background-color: #006064;
   color: white;
   border-radius: 0 5px 5px 0; 
   cursor:pointer; 
   display: flex; 
   float: right;   
   height:61px; 
   justify-content: center; 
   margin: 350px -26px 0 0 ; 
   width:26px;
  height:70px;}

/* MODULOS */
.bg-adminTable{
   background-color: #a31616;
}
.bg-greendark{
   background-color: #00897b;
}
.bg-greenLight{
   background-color: #a7ffeb;
}
.bg-yellowmk{
   background-color: #ffee58;
}
.bg-yelight{
   background-color: #fff59d ;
}
.bg-bluedark{
   background-color: #0056b2;
}
.bg-azulM{
   background-color: #64b5f6;
}
.bg-azulight{
   background-color: #bbdefb;
}

.bg-invent {
   text-transform: uppercase;
   text-align: center;
   background-color: var(--azul-Invt);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
   border: 2px solid var(--azul-Invt);
}
.bg-Equip {
   color: #fff;
   cursor: pointer;
   text-transform: uppercase;
   text-align: center;
   background-color: var(--verde-Equip);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
   border: 2px solid var(--verde-Equip);
}
/* .border{
   background-color: #ECF0F5;
   border-radius: 3px;} */
/* ----------------------------------- */
/* CODIFICACION-DOCUMENTOS */
[class^="cod-"] {
   color: rgb(0, 0, 0);
   border-radius: 5px;
   background-color: #d2d2d2;
}
#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -300px;
}
/* Sidebar Styles */


.sidebar-menu {
   list-style: none;
   margin: 0;
   padding: 0;
}

.sidebar-menu>li {
   position: relative;
   margin: 0;
   padding: 0;
}

.sidebar-menu>li>a {
   padding: 12px 5px 12px 15px;
   display: block;
   border-left: 3px solid transparent;
   color: #fff;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 700;

}

.sidebar-menu>li>a>.fa {
   width: 20px;
}

.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a {
   color: #fff;
   background: rgb(0, 96, 100,0.973);
   border-left-color: #00fcbd;
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
   margin-top: 3px;
   margin-right: 5px;
}

.sidebar-menu li.sidebar-header {
   padding: 2px;
   font-size: 1.2em;
   background: #fff;
}

.sidebar-menu li>a>.fa-chevron-left {
   padding: 0;
   margin-right: 10px;
   margin-top: 3px;
   transition: transform .5s ease;
}

.sidebar-menu li.active>a>.fa-chevron-left {
   transform: rotate(-90deg);
}

.sidebar-menu li.active>.sidebar-submenu {
   display: block;
}

.sidebar-menu a {
   color: #fff;
   text-decoration: none;
}

.sidebar-menu .sidebar-submenu {
   display: none;
   list-style: none;
   padding-left: 5px;
   margin: 0 1px;
   background: rgb(0, 96, 100, 0.5);
}

.sidebar-menu .sidebar-submenu .sidebar-submenu {
   padding-left: 20px;
}

.sidebar-menu .sidebar-submenu>li>a {
   padding: 5px 5px 5px 15px;
   display: block;
   font-size: 1em;
   color: #fff;
}

.sidebar-menu .sidebar-submenu>li>a>.fa {
   width: 20px;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-circle {
   font-size: 0.6em;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-chevron-left,
.sidebar-menu .sidebar-submenu>li>a>.fa-chevron-down {
   width: auto;
}

.sidebar-menu .sidebar-submenu>li.active>a,
.sidebar-menu .sidebar-submenu>li>a:hover {
   color: #fff;
}

.fa-chevron-right {
   color: white;
   transition: transform .5s ease;
}

.fa-chevron-right:hover {
   transform: rotate(90deg);
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 0.5rem;
   padding-left: .05em;
}
.text-admin{ color: #0056b2;
}
.azul3 {
   background-color: #303f9f ;
}
.azul2 {
   background-color: #1976d2;
}
.f12 {
   font-size: 1.2em;}

[class^="icong-"] {
   display: inline-block;
   color: #ffffff;
   border-radius: .25em;
   padding: .25em .45em;
   margin: 0 .25em;
   font-size: .90rem;
}

.icong-ip{
   background: var(--rojo-admin2);
   font-weight: bold;
}
.icong-active{
   background-color: var(--verde-Rh2);
   font-weight: bold;

}
.icong-posee{
   background-color: var(--azul-Invt);
}
.icong-desactive{
   background-color: var(--rojo-admin);
}
.icong-bloqueado{
   background-color: var(--rojo-admin2);
   font-weight: bold;
}
.icong-retirado{
   background-color: #818181;
   font-weight: bold;
}
.icong-huella{
   background-color: #c9c9c9;
   font-weight: bold;
   color: #212836;

}
/* .icong-ip::before{content: "";display: inline-block; justify-content: center; align-items: flex-end; background: url(../icons/ineditto_icon_No-IP.svg); width: 28px; height: 28px; margin-right: 5px;} */

.icong-ip::before{
content: "\f05e";
font-family: "Font Awesome 5 Free";
font-size: .90rem; 

}
.icong-bloqueado::before{
content: "\f007";
z-index: 999;
font-family: "Font Awesome 5 Free";   
}
.icong-active::before{
content: "\f007";
font-family: "Font Awesome 5 Free";     
}
.icong-retirado::before{
content: "\f007";
font-family: "Font Awesome 5 Free";     
}
.icong-posee::before{
content: "\f007";
font-family: "Font Awesome 5 Free";     
}
.icong-desactive::before{
content: "\f007";
font-family: "Font Awesome 5 Free";     
}
.icong-huella::before{
content: "\f577";
font-family: "Font Awesome 5 Free";     
}

.grupos{
   display: inline-block;
   /* padding: .25em .35em; */
   width: 22px;
   height: 20px;
   font-size: 1em;
   font-weight: 700;
   text-align: center;
   vertical-align: baseline;
   border-radius: .25em;
   color: #000000;
   background-color: var(--naranja-cot);
}


/* MODULOS PERMISOS*/
ol {
   text-decoration: none;
   list-style: none;
}
   ol li{
       text-decoration: none;
       list-style: none;
       padding: .35em .40em;
       margin: .65em .30em;
       border-radius: .35em;
       cursor: pointer;
   }
   .modulos li{
       background-color:#545f6b;
       /* background-color:var(--gris90); */
       color: white;
   }
   .modulos-right{
       counter-reset: li;
       margin-left: 2.8rem;
   }
   @media (min-width: 1023px) {
       .modulos-right{margin-left: 2.2rem;}
       .col-lg-2 {
           -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; font-size: .60rem;}
   }
   .modulos-right .form-check-input {
       background-color: #ffffff !important;
   }
   .modulos-right > li:active{
       background-color: #00fcbd;
       color: #000000;

   }
   .modulos > li:link{
       background-color:#00fcbd;
   }
   .modulos > li:active{
       background-color: #00fcbd;
       color: #000000;
       /* background-color: #0dff0d; */
   }
   .modulos > li:visited{
       border: 2px solid #ff960d;
   }
/* TABLA PRIVILEGIOS DE ACCESO START */
   #priv ul li {
       text-decoration: none;
       list-style: none;
       margin: .45em .30em;
       padding: .25em .40em;
       border-radius: .35em;
       background-color: rgba(255, 255, 255, 0.253);
   }
   #priv thead th {
       text-transform: uppercase;
   }
   .form-control:focus {
       border-color: var(--verde-Rh2)!important;
       background-color: rgba(251, 215, 161, 0.05);
       color: #03a17a;

       outline: 0;
       box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(1, 233, 175, 0.2);
   }
   .custom-radio .custom-control-label::before {
       border-radius: 50%;
       border: 1px solid #01c393 !important;
       background-color: #c2e1ff28;
       box-shadow: 0 2px 4px 0 rgba(1, 119, 89, 0.3);
   }
   .custom-checkbox .custom-control-label::before {
       border-color: var(--verde-Rh2)!important;
       box-shadow: 0 2px 6px 0 rgba(1, 119, 89, 0.30);
   }
   
   .custom-control-input:checked ~ .custom-control-label::before {
       color: #fff;
       border-color: var(--verde-Rh2) !important;;
       background-color: var(--verde-Rh2) !important;;
   }

   .input-group-bg {
       background-color: var(--verde-Rh2);
       border-color: var(--verde-Rh2);
       color: white;
   }

   .form-control:disabled, .form-control[readonly] {
       background-color: #16642859;
       opacity: 1;
   }

     /*---------------------------------------------- 
            B O T O N - U P
------------------------------------------------*/

/* BOTON ARRIBA */
#return-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: var(--verde-Rh2);
   width: 40px;
   height: 40px;
   text-decoration: none;
   border-radius: 2px;
   z-index: 299;
   transition: all 0.3s ease;
color: white;

}
#return-to-top .svg-inline--fa {
   color: #fff;
   margin: 0;
   position: relative;
   left: 13px;
   top: 10px;
   transition: all 0.3s ease;
}
#return-to-top:hover {
   background-color: var(--verde-Rh2);
   color: #fff;
}
#return-to-top:hover .svg-inline--fa {
   color: #fff;
   top: 5px;
}

/*---------------------------------------------- 
           E N  D - B O T O N - U P
------------------------------------------------*/
/*---------------------------------------------- 
               C A L E N D A R
------------------------------------------------*/
.dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: .5rem .5rem;
   margin: .125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid var(--verde-Rh2);
   border-radius: .25rem;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
   background-color: var(--verde-Rh2);
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
   background: 0 0;
   color: #e91e1e;
   cursor: default;
}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
   background: var(--verde-Rh2); color: white;}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
   background-color: var(--verde-Rh2);
}

         /*---------------------------------------------- 
           T A B L E - B O R D E R E D
------------------------------------------------*/
.color-bg-mod {background-color: #35CB9C;}
.table thead th {
   vertical-align: bottom;
   border-bottom: none;
   border-left: none;
   font-family: 'Roboto Light';
}
.table thead th:nth-last-child(1){
   border-right: none;
}
.table thead tr:nth-child(1) th:first-child {
   border-top-left-radius: .45rem;
}
.table thead tr:nth-last-child(1) {
   border-top-left-radius: .1rem;
}
.table thead tr:nth-child(1) th:last-child {
   border-top-right-radius: .45rem;
   border-right:none !important;
}

.table td, .table th {
   padding: .35rem;
   vertical-align: top;
   border-top: none;
}
.table tbody tr:not(:nth-last-child(1)){
   border-bottom: 1px solid #dee2e6;
   background-color: #f8f9fa;
}
/* .table-bordered thead tr:nth-last-child(1) :not(:nth-last-child(1)) {
   border-right: 1px solid #dee2e6;
} */


.table-responsive {
   border-radius: .75rem;
   /* box-shadow: 0 2px 12px 0 rgba(189, 189, 189, 0.5); */
   margin: .95rem 0;
}

.box-head-modulo{
   background-color: #fff;
   border-bottom: 3px solid var(--verde-Equip);
   box-sizing: border-box;
   width: 100%;
   margin-bottom: 2px;
   vertical-align: middle;
   padding: .4rem .95rem;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.box-body-modulo{
   background-color: #fff;
   border-top: 3px solid var(--verde-Equip);
   border-radius: 4px;
   margin-bottom: 20px;
   box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
   width: 100%;
}