::selection {
   color: white;
   background: #0d47a1;
 }
/*---------------------------------------------- 
    B O T O N E S - DIR  T E R C E R O S
------------------------------------------------*/
 .bg-Logt {
   background-color: var(--azul-Log);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   color: #fff;
   transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
   border: none;
}

.bg-Logt:hover {
   color: #fff;
   text-decoration: none;
   /* background-color: var(--verde-Rh3); */
   background-color: #007bff;
}
/*---------------------------------------------- 
    B O T O N E S - DIR  T E R C E R O S
------------------------------------------------*/
#style-selector { 
   font-family: 'Roboto Condensed',Helvetica,Arial,sans-serif;
   background-image: linear-gradient( 135deg, #0d47a1  10%, #18ffff 100%);
   box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14); 
   height: 100%; 
   position: fixed;
   top: 0;
   width: 300px;
   float: right;   
   z-index:100000;
}
#style-selector-container{
   overflow-x:hidden; 
   overflow-y: auto; 
   height:100%; 
}
.style-toggle {
   align-items: center; 
   background-color: #0d47a1;
   color: white;
   border-radius: 0 5px 5px 0; 
   cursor:pointer; 
   display: flex; 
   float: right;   
   height:61px; 
   justify-content: center; 
   margin: 350px -26px 0 0 ; 
   width:26px;
  height:70px;}

/* MODULOS */
.bg-adminTable{
   background-color: #a31616;
}
.bg-greendark{
   background-color: #00897b;
}
.bg-greenLight{
   background-color: #a7ffeb;
}
.bg-yellowmk{
   background-color: #ffee58;
}
.bg-yelight{
   background-color: #fff59d ;
}
.bg-bluedark{
   background-color: #0056b2;
}
.bg-azulM{
   background-color: #64b5f6;
}
.bg-azulight{
   background-color: #bbdefb;
}
/* .border{
   background-color: #ECF0F5;
   border-radius: 3px;} */
/* ----------------------------------- */
/* CODIFICACION-DOCUMENTOS */
[class^="cod-"] {
   color: rgb(0, 0, 0);
   border-radius: 5px;
   background-color: #d2d2d2;
}
#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -300px;
}
/* Sidebar Styles */


.sidebar-menu {
   list-style: none;
   margin: 0;
   padding: 0;
}

.sidebar-menu>li {
   position: relative;
   margin: 0;
   padding: 0;
}

.sidebar-menu>li>a {
   padding: 12px 5px 12px 15px;
   display: block;
   border-left: 3px solid transparent;
   color: #fff;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 700;

}

.sidebar-menu>li>a>.fa {
   width: 20px;
}

.sidebar-menu>li:hover>a,
.sidebar-menu>li.active>a {
   color: #fff;
   background: rgb(13, 71, 161, 0.973);
   border-left-color: #18ffff;
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
   margin-top: 3px;
   margin-right: 5px;
}

.sidebar-menu li.sidebar-header {
   padding: 2px;
   font-size: 1.2em;
   background: white;
}

.sidebar-menu li>a>.fa-chevron-left {
   padding: 0;
   margin-right: 10px;
   margin-top: 3px;
   transition: transform .5s ease;
}

.sidebar-menu li.active>a>.fa-chevron-left {
   transform: rotate(-90deg);
}

.sidebar-menu li.active>.sidebar-submenu {
   display: block;
}

.sidebar-menu a {
   color: #fff;
   text-decoration: none;
}

.sidebar-menu .sidebar-submenu {
   display: none;
   list-style: none;
   padding-left: 5px;
   margin: 0 1px;
   background: rgb(13, 71, 161, 0.5);
}

.sidebar-menu .sidebar-submenu .sidebar-submenu {
   padding-left: 20px;
}

.sidebar-menu .sidebar-submenu>li>a {
   padding: 5px 5px 5px 15px;
   display: block;
   font-size: 1em;
   color: #fff;
}

.sidebar-menu .sidebar-submenu>li>a>.fa {
   width: 20px;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-circle {
   font-size: 0.6em;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-chevron-left,
.sidebar-menu .sidebar-submenu>li>a>.fa-chevron-down {
   width: auto;
}

.sidebar-menu .sidebar-submenu>li.active>a,
.sidebar-menu .sidebar-submenu>li>a:hover {
   color: #fff;
}

.fa-chevron-right {
   color: white;
   transition: transform .5s ease;
}

.fa-chevron-right:hover {
   transform: rotate(90deg);
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 0.5rem;
   padding-left: 1.5em;
}
.text-admin{ color: #0056b2;
}
.azul3 {
   background-color: #303f9f ;
}
.azul2 {
   background-color: #1976d2;
}
.f12 {
   font-size: 1.2em;
}
 /*---------------------------------------------- 
            B O T O N - U P
------------------------------------------------*/

/* BOTON ARRIBA */
#return-to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-color: var(--azul-Log);
   width: 40px;
   height: 40px;
   text-decoration: none;
   border-radius: 2px;
   z-index: 299;
   transition: all 0.3s ease;
color: white;

}
#return-to-top .svg-inline--fa {
   color: #fff;
   margin: 0;
   position: relative;
   left: 13px;
   top: 10px;
   transition: all 0.3s ease;
}
#return-to-top:hover {
   background-color: var(--azul-Log);
   color: #fff;
}
#return-to-top:hover .svg-inline--fa {
   color: #fff;
   top: 5px;
}

/*---------------------------------------------- 
           E N  D - B O T O N - U P
------------------------------------------------*/
/*---------------------------------------------- 
                   R E L O G
------------------------------------------------*/

#clock {
   font-family: 'Roboto Condensed';
 color: #66ff99;
 background-color: var(--azul-Log);
 font-size: 1rem;
 text-align: center;
 padding: .20rem .55rem;
 border-radius: .25rem;
 box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
#clock::before{
   content: "\f017";
   color:#66ff99;
   font-family: "Font Awesome 5 Free";
   margin-right: .35rem;
   padding-right: .35rem;
   border-right: 1px solid #66ff99;
}

.iconLetter{
   color: #ffffff;
   font-size: .75rem;
   padding: .18rem;
   border-radius: 50%;
   width: 26px; height: 26px;
   text-transform: uppercase;
   display: inline-block;
   background-image: linear-gradient( 135deg, #00838f  10%, #76ff03 100%);
   box-shadow: 0 5px 11px 0 rgba(0,0,0,0.10),0 4px 7px 0 rgba(0,0,0,0.15);
   text-decoration: none !important;
}

.iconLetter:hover{
   color: #fff;
}

/*---------------------------------------------- 
               I N P U T
------------------------------------------------*/
.form-control:focus {
   border-color: #0d47a1 !important;
   background-color: rgba(251, 215, 161, 0.05);
   outline: 0;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(13, 71, 161, 0.30);
}
.custom-radio .custom-control-label::before {
   border-radius: 50%;
   border: 1px solid #0d47a1!important;
   background-color: rgba(253, 219, 193, 0.157);
   /* background-color: rgba(194, 225, 255, 0.157); */
   box-shadow: 0 2px 4px 0 rgb(13, 71, 161, 0.5);
}
.custom-checkbox .custom-control-label::before {
   border-color: #0d47a1 !important;
   background-color: rgba(250, 233, 220, 0.157);
   box-shadow: 0 2px 4px 0 rgb(13, 71, 161, 0.30);
}

.custom-control-input:checked ~ .custom-control-label::before {
   color: #fff;
   border-color: #0d47a1 !important;
   background-color: #0d47a1 !important;
}

/*---------------------------------------------- 
               C A L E N D A R
------------------------------------------------*/
.dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 10rem;
   padding: .5rem .5rem;
   margin: .125rem 0 0;
   font-size: 1rem;
   color: #212529;
   text-align: left;
   list-style: none;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid var(--azul-Log);
   border-radius: .25rem;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
   background-color: var(--azul-Log);
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
   background: 0 0;
   color: #e91e1e;
   cursor: default;
}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
   background: var(--azul-Log); color: white;}

.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active {
   background-color: var(--azul-Log);
}

.input-group-text>.fa-calendar-alt{
   color: #fff;
 }

 .input-group-text {
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: .22rem .55rem;
     font-size: .75rem;
     font-weight: 400;
     line-height: 1.2;
     color: #495057;
     text-align: center;
     white-space: nowrap;
     background-color: var(--azul-Log);
     border: 1px solid var(--azul-Log);
     border-radius: .25rem;
     margin-bottom: .5rem !important;
 }

   /*---------------------------------------------- 
           T A B L E - B O R D E R E D
------------------------------------------------*/
.color-bg-mod {background-color: #0056b2;}
.table thead th {
   vertical-align: bottom;
   border-bottom: none;
   border-left: none;
   font-family: 'Roboto Light';
}
.table thead th:nth-last-child(1){
   border-right: none;
}
.table thead tr:nth-child(1) th:first-child {
   border-top-left-radius: .45rem;
}
.table thead tr:nth-last-child(1) {
   border-top-left-radius: .1rem;
}
.table thead tr:nth-child(1) th:last-child {
   border-top-right-radius: .45rem;
   border-right:none !important;
}

.table td, .table th {
   padding: .35rem;
   vertical-align: top;
   border-top: none;
}
.table tbody tr:not(:nth-last-child(1)){
   border-bottom: 1px solid #dee2e6;
   background-color: #f8f9fa;
}
/* .table-bordered thead tr:nth-last-child(1) :not(:nth-last-child(1)) {
   border-right: 1px solid #dee2e6;
} */


.table-responsive {
   border-radius: .75rem;
   /* box-shadow: 0 2px 12px 0 rgba(189, 189, 189, 0.5); */
   margin: .95rem 0;
}
.box-head-modulo{
   background-color: #fff;
   border-bottom: 3px solid var(--azul-Log);
   box-sizing: border-box;
   width: 100%;
   margin-bottom: 2px;
   vertical-align: middle;
   padding: .4rem .95rem;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.box-body-modulo{
   background-color: #fff;
   border-top: 3px solid var(--azul-Log);
   border-radius: 4px;
   margin-bottom: 20px;
   box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
   width: 100%;
}